* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --palevioletred: #db7093;
    --lightpink: #ffb6c1;
    --deeppink: #ff1493;
    --black-800: #171717;
    --gray-200: #cccccc;
    --white: #f9f9f9;
}

body {
    background: var(--gray-200);
    color: var(--black-800);
    font-family: sans-serif;

}

h1, h2, h3 {
font-weight: 700;
}

h1 {
    color: var(--white);
    font-size: 2.4rem;
}

h2 {
    color: var(--black-800);
    font-size: 1.8rem;
    padding: 1.5rem 0;
    font-weight: 600;
    margin-left: 12rem;
}

h3{
   color: var(--white);
   font-size: 1.2rem;
   text-align: center;
}

p{
   font-size: 1.25rem;
   line-height: 1.5rem;
   text-align: justify;
}

section{
    width: 90%;
    margin: 2rem auto;
}

header {
    background: var(--palevioletred);
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
}

nav a:hover {
    color: var(--palevioletred);
    text-decoration: underline;
}

#about article{
    display: flex;
    align-items: center;
    gap: 2rem;
}

#about img {
    width: 200px;
    flex-shrink: 0;
}

#about p {
    flex: 1;
}

#video figure {
    display: flex;
    justify-content: center;
}

footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--white);
    background-color: var(--palevioletred);
    font-weight: bold;
    text-align: center;
}

footer section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

footer img {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    filter: invert(100%);
    transition: filter 0.3s;
}

footer img:hover {
    filter: brightness(0) saturate(100%) invert(54%) sepia(13%) saturate(1576%) hue-rotate(289deg) brightness(98%) contrast(96%)
}

.heart {
  text-shadow:
    0 0 3px #333,
    0 0 2px #333;
}
.main_contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
}

form { 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
}

form input, textarea {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 10rem;
}

form button {
    background: var(--deeppink);
    color: var(--white);
    padding: 0.75rem;
    border: 1px solid var(--black-800);
    border-radius: 0.75rem;
    font-weight: 700;
    cursor: pointer;
}

form button:hover {
    background: var(--deeppink);
}

form span {
    color: #ff0000;
    font-size: 0.75rem;
}


.article_mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    padding: 1.5rem;
    border-radius: 0.75rem;
}

.article_mapa address {
    width: 90%;
}

.article_mapa address p {
    font-weight: 600;
}

.article_mapa iframe {
    align-self: center;
}

.mapa {
  width: 90%;
  height: 400px;   
  border: 0;
}
